/* Custom CSS */
footer {
  padding: 1em;
  text-align: center;
  font-size: 80%;
}

.jumbotron img {
  width: 35%;
}

.dadin-content {
  padding: 0 10%;
}

.dadin-content h1, .dadin-content h2, .dadin-content h3,
.dadin-content h4, .dadin-content h5, .dadin-content h6 {
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  font-style: italic;
}

.dadin-content ul {
  margin-left: 1em;
}

.dadin-content li {
  border: none;
  margin-left: none;
  list-style-type: square;
}

.dadin-content li:hover {
  background-color: white;
}

.dadin-content .dadin-docentes {
  width: 100%;
}

.dadin-content .dadin-docentes .dadin-item {
  width: 19%;
  margin: 0.5%;
  float: left;
  cursor: pointer;
  background: #ccc;
}

.dadin-content .dadin-docentes .dadin-item img {
  width: 100%;
}

.dadin-content .dadin-galeria {
  width: 100%;
}

.dadin-content .dadin-galeria .dadin-item {
  width: 24%;
  margin: 0.5%;
  float: left;
  cursor: pointer;
  background: #ccc;
}

.dadin-content .dadin-galeria .dadin-item img {
  width: 100%;
}

.dadin-menu, .dadin-menu-2 {
  margin-top: 0;
}

.dadin-menu li:nth-child(1), .dadin-menu-2 li:nth-child(1) {
  border-top: none;
}

.dadin-menu ul {
  margin: 0;
  padding: 0;
}

.dadin-menu li {
  list-style-type: none;
  padding: 0.3em;
  padding-left: 42%;
  border-top: 0.05em #ccc solid;
  margin-left: 0 !important;
  width: 100%;
}

.dadin-menu-2 li {
  list-style-type: none;
  padding: 0.3em 1em;
  border-top: 0.05em #ccc solid;
  margin-left: 0 !important;
  width: 100%;
}

.dadin-menu li:hover {
  cursor: pointer;
  background: #e7e7e7;
}

.dadin-menu a {
  color: #333;
  text-decoration: none;
}
.dadin-menu a:hover,
.dadin-menu a:focus {
  color: #333;
  text-decoration: none;
}
.dadin-menu a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dadin-menu-mobile {
  display: none;
  background: #404040;
  padding: 2% 10%;
  font-size: 2em;
  cursor: pointer;
  color: white;
}

.dadin-menu-mobile:hover {
  color: #8BC53F;
}

.dadin-menu-mobile-options {
  height: 0;
  overflow: hidden;
  font-size: 0.7em;
}

.dadin-menu-mobile-options li {
  list-style-type: none;
  padding: 0.3em;
  padding-left: 2em;
  border-top: 0.05em #535353 solid;
  margin-left: 0 !important;
  width: 100%;
}

.dadin-menu-mobile li:hover {
  cursor: pointer;
  background: #535353;
}

.dadin-menu-mobile a {
  color: #e7e7e7;
  text-decoration: none;
}
.dadin-menu-mobile a:hover,
.dadin-menu-mobile a:focus {
  color: #e7e7e7;
  text-decoration: none;
}

@media (max-width:991px) {
  .dadin-menu-left, .dadin-agenda {
    display: none;
  }
  .dadin-menu-mobile {
    display: block;
  }
}
